.navbar {
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
}

.navbar__icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}